<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel="stylesheet" href="expernal.css">
</head>

<body>
  <%- include("../components/nav-bar.ejs")  %>

    <div class="container">
        <h2>Register</h2>

        <form>

            <input type="email" placeholder="Enter Email" required>

            <input type="password" placeholder="Enter Password" required>

            <button type="submit">Register</button>
        </form>
    </div>

</body>
</html>